In [1]:
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('datasets/housing.csv')

housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
12981,-121.31,38.68,22.0,1194.0,207.0,545.0,223.0,3.8603,134300.0,INLAND
11889,-117.37,33.97,38.0,1156.0,241.0,877.0,200.0,1.4514,79900.0,INLAND
16384,-121.28,38.02,8.0,1868.0,392.0,1258.0,389.0,3.1750,95900.0,INLAND
10146,-117.92,33.92,19.0,2181.0,400.0,1272.0,337.0,5.1952,302100.0,<1H OCEAN
9074,-118.15,34.70,36.0,2696.0,454.0,1192.0,452.0,3.9615,116300.0,INLAND

In [3]:
housing_data = housing_data.dropna()

In [4]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value'] == 500001].index)

In [5]:
housing_data.shape

(19475, 10)

In [6]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [8]:
median = housing_data['median_house_value'].median()

median

173800.0

In [9]:
housing_data['above_median'] = (housing_data['median_house_value'] - median) > 0

In [10]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
12997,-121.26,38.68,13.0,4256.0,619.0,1948.0,622.0,5.2051,167400.0,0,1,0,0,0,False
10151,-117.92,33.90,13.0,1814.0,320.0,1010.0,313.0,6.3489,337900.0,1,0,0,0,0,True
2996,-119.04,35.31,11.0,2161.0,371.0,1267.0,388.0,4.1957,92700.0,0,1,0,0,0,False
9390,-122.53,37.90,44.0,2846.0,551.0,1232.0,537.0,3.8839,327200.0,0,0,0,1,0,True
1604,-122.07,37.88,11.0,1077.0,318.0,590.0,264.0,3.5536,387200.0,0,0,0,1,0,True

In [11]:
X = housing_data.drop(['median_house_value', 'above_median'], axis=1)
Y = housing_data['above_median']

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [13]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(solver='liblinear').fit(x_train, y_train)

In [15]:
print("Training_score: ", logistic_model.score(x_train, y_train))

Training_score:  0.8219512195121951

In [16]:
y_pred = logistic_model.predict(x_test)

In [17]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})

df_pred_actual.head(10)

       predicted  actual
13907      False   False
6880        True    True
5805       False    True
12985      False   False
13209      False   False
11017       True    True
3942        True    True
6903        True    True
2890       False   False
7222       False   False

In [19]:
from sklearn.metrics import accuracy_score

print('Testing_score: ', accuracy_score(y_test, y_pred))

Testing_score:  0.8148908857509628